<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--mapper为根元素，namespace指定了命名空间-->
<mapper namespace="com.Ha_rlan.vueshoppingback.mapper.ClientMapper">
    <insert id="insert">
        insert into c_client(account,c_password,p_number) values (#{account},#{password},#{phone})
    </insert>
    <select id="select" resultType="com.Ha_rlan.vueshoppingback.entity.Client">
        select c_password FROM c_client where account = #{account}
    </select>
    <select id="selectList" resultType="Client">
        select account,c_password,p_number from c_client
    </select>
</mapper>