<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--mapper为根元素，namespace指定了命名空间-->
<mapper namespace="com.Ha_rlan.vueshoppingback.mapper.ClientMapper">
    <insert id="insert">
        insert into sp_user(username,password,user_email) values (#{username},#{password},#{email})
    </insert>
    <select id="selectByAc" resultType="com.Ha_rlan.vueshoppingback.entity.Client">
        select username,password FROM sp_user where username = #{username}
    </select>
    <select id="selectList" resultType="Client">
        select account,c_password,p_number from c_client
    </select>
</mapper>